*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.container{
    display: grid;
}
div.nav{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    list-style-type: none;
    width: 100%;
    background-color: antiquewhite;
    box-shadow: 0 0px 1px 1px;
}
.nav>div{
    padding: 5px;
}
.nav>div.active{
    background-color: beige;
}
.nav>div:hover{
    background-color: beige;
}
.text-center{text-align: center;}